.content {
    max-width: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 90px;
    background: transparent;
    padding: auto;
}


.options {
    float: right;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    color: black;
    font-size: 18px;
    margin: 18px;    
}


#loginform {
    margin-top: 13px;
    margin-left: 20px;
}


.login {
    background-color: #E3B261;
    border-radius: 9px 9px 9px 9px;
    border-color: transparent;
    padding: 5px 20px 5px 20px;
    box-shadow: 3px 3px 2px #b38946;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}


.login:hover {
    background-color: #f0d5ab;
    cursor: pointer;
}


a.homepage-lnk:hover {
    background-color: transparent;
}


.normalbtn:link {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    padding: 4px;
}


#menuitem {
    list-style-type: none;
    display: inherit;
    flex-direction: row;
    gap: 30px;
}


  @media screen and (max-width: 700px) {
        .login {
        margin-left: 30px;
    }
  }


  @media screen and (max-width: 700px) {
    .title {
        position: absolute;
        visibility: hidden;
    }
  }


  @media screen and (min-width: 700px) {
    .titlesml {
        visibility: hidden;
    }
  }


.titlesml {
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    position: absolute;
}


.normalbtn:visited {
    color:#000;
}


.normalbtn:hover {
    background: #E3B261;
    color: #FFF;
    font-weight: 0;
  }


.navbar {
    box-shadow: 10px 5px 5px grey;
    padding: 0px 50px 0px 50px;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #FFF;
    display: fixed;
}
 

.title {
    display: inline-block;
    margin-left: 50px;
    width: 240px;
    margin-top: 13px;
}


footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkslategray;
    padding: 1em;
    color: #FFF;
    font-weight: 700;
    text-align: center;
 }


.page-img {
    display: block;
    margin: 0 auto;
 }


 .recipe {
    border: 2px dashed  #000;
    text-align: center;
 }


 .card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    overflow: hidden;
 }


 .homepage-img  {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    height: max(10rem, 25vh);
     }


body {
    display: grid;
    place-content: center;
    justify-items: center;
    min-height: 96.8vh;
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    color: #444;
    background-color: #eefdf8;
    position: relative;
}


.card-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    margin-top: 110px;
    margin-bottom: 70px;
    max-width: 80vw;
    width: 120ch;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(112, 112, 112);
}
